<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="LogConfig" status="error">
    <Appenders>
        <Console name="STDOUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
        </Root>
        <Logger name="org.mongodb" level="warn">
            <AppenderRef ref="STDOUT"/>
        </Logger>
    </Loggers>
</Configuration>
